# Ignore vendor directory (for PHP packages)
vendor/

# Ignore all files in the upload document and profile directories
/upload/document/*
/upload/profile/*
/upload/product/*
/upload/contract/*



# Ignore storage directory
storage/

# Allow a specific file inside ignored directories
!upload/profile/default.png
!upload/product/default.png
!/upload/contract/.gitkeep
!/upload/document/.gitkeep
