/* CUSTOMIZE CSS */

.card {
  border: none !important;
  box-shadow: var(--bs-box-shadow-sm) !important;
}

.dropdown-menu {
  border: none !important;
  box-shadow: var(--bs-box-shadow) !important;
}

.nav-link {
  font-weight: 600 !important;
}

.nav-link.active {
  color: var(--bs-primary) !important;
  font-weight: 600 !important;
}

.table tr td {
  vertical-align: middle !important;
}


/* APPLICATION */

.notif__list-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.notif__list-wrapper::-webkit-scrollbar {
  display: none;
}